@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,800');

/* UNIVERSAL STYLES */

header{
  text-align: center;
  width:100%;
  height: 350px;
  background-repeat: none;
  background-size: cover;
  overflow: hidden;
}

header h1{
  display: inline-block;
  position: relative;
  color: white;
  font-size: 4em;
  background: rgba(0,0,0,.2);
  padding: 20px;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2{
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding:0;
}

p a{
  color:rgb(31, 91, 48);
}

p a:hover{
  color:rgb(73, 75, 79);
}

p a:active{
  color: black;
}

p a:visited{
  color: rgb(74, 54, 175);
}

iframe{
  border:0;
  width:480px;
  height:299px;
}
.wrapper{
  display: block;
  margin: 0 auto;
  width: 960px;
}

.caption{
  font-size: 14px;
  margin-left: 10px;
}

/* NAV */
nav {
  z-index: 1;
  list-style-type: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: black;
  height: auto;
}

nav ul{
  margin: 0;
}

nav ul li {
  float: left;
  list-style-type: none;
}

nav ul li a {
  display:inline-block;
  color: white;
  text-align: center;
  padding:20px;
  text-decoration: none;
}

nav li a:hover {
  background-color:rgb(73, 75, 79);
}

nav li a:active {
  background-color:rgb(73, 75, 79,0.5);
}

nav li a{
  font-weight: 400;
}

/* Dropdown Button */
.dropbtn {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.dropdown-content ul{
    padding: 0;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: rgb(73, 75, 79);}

/* FOOTER */

footer {
  list-style-type: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul{
  margin:auto;


}

footer ul li {
  float: left;
  list-style-type: none;
  margin-left: 15px;
  margin-right: 15px;
}

footer ul li a {
  display:inline-block;
  color: white;
  text-align: center;
  padding:15px;
  text-decoration: none;
}

/* IMAGE SLIDER JS */

.slider-outer{
   height:100%;
   overflow:hidden;
}
.slider{
    width: 100%;
    height: 100%;
    border: 1px solid grey;
}
.slide-image{
  width: 100%;
  height: 100%;
  display:block;
  color: transparent;
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
}
.slider .slide-item{
  float:left;
  padding: 0;
  margin: 0;
}
.clear{
  clear:both;
}


/* INDEX */

#index main{
  width:100%;
  position: absolute;
  top:0;right: 0; bottom: 0; left: 0;
  margin: 0 auto;
  overflow: hidden;
}

#asia{
  color: white;
  position:absolute;
  top: 250px;
  text-decoration: none;
  font-size:3em;
  border: 1px solid white;
  padding: 20px;
  background: rgba(0,0,0,.1);
}

#asia-h1{
  display: flex;
  align-items: center;
  justify-content: center;
}

#asia:hover{
  background: rgba(0,0,0,.5);
}

/* ABOUT */

#asia-headshot{
  grid-column: 1/2;
  grid-row: 1/2;
  border-radius: 50%;
  image-orientation: center;
  max-height: 100%;
  max-width: 100%;
}

#connect-caption{
  grid-column: 1/2;
  grid-row: 1/2;
}

#bio{
  grid-row: 1/2;
  grid-column: 2/3;
}

#about-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows:auto;
  padding-bottom: 100px;
  grid-column-gap:80px;
  font-size: 18px;
}

#about header {
  background-image: url("../img/long-island-min.jpg");
  background-position: 50% 50%;
}

/* VIRGINIA TECH */

#vtech-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2fr,auto;
  grid-row-gap: 50px;
  grid-column-gap: 50px;
  padding-bottom: 100px;
  font-size: 18px;
}

#vtech header {
  background-image: url("../img/virginia-tech-min.jpg");
  background-position: 50% 20%;
}

#vtech #summary{
  grid-column: 1/2;
}

#abstract{
  grid-column: 1/3;
  border-top:1px solid grey;
  padding-top: 40px;
}

#vtech .slider-outer{
  grid-column: 2/3;
  width: 95%;
  height: 95%;
}

#vtech .slide-image{
  background-position: 50% 30%;
}

#vtech iframe{
  float: right;
  padding:30px;
}

/* TWITTER */

#twitter header{
  background-image: url("../img/san-francisco-min.jpg");
  background-position: 50% 60%;
}

#twitter-grid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-row-gap: 60px;
  grid-column-gap:70px;
  padding-bottom: 100px;
  margin-top: 50px;
  border-top: 1px solid grey;
  font-size: 18px;
}

#twitter #summary{
  font-size: 18px;
  grid-column: 1/3;
}


#code2040-careerfair{
  grid-column:2/3;
  grid-row: 2/3;
  max-width: 90%;
  max-height: 90%;
}

#code2040-summary{
  grid-column: 1/2;
  grid-row: 2/3;
  width: 80%;
}

#intern-group-pic{
  grid-column:1/2;
  grid-row: 3/4;
  max-width: 90%;
  max-height: auto;
}

#twitter-proj{
  grid-column: 2/3;
  grid-row: 3/4;
  width: 80%;
}

#twitter-summary{
  grid-column: 1/2;
  grid-row: 4/5;
}

#twitter-girls{
  grid-column:2/3;
  grid-row: 4/5;
  max-width: 90%;
  max-height: 90%;
  }

  /* UMIAMI */
  #umiami header {
    background-image: url("../img/umiami.jpg");
    background-position: 50% 50%;
  }

  #umiami h3{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
  }

  #umiami-summary{
    font-size: 18px;
  }

  #umiami-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-row-gap: 40px;
    grid-column-gap: 70px;
    padding-bottom: 100px;
    margin-top: 50px;
    border-top: 1px solid grey;
    font-size: 18px;
  }

#umiami iframe{
  margin-top: 70px;
}

#ccs-github{
  grid-column: 2/3;
  grid-row: 1/2;
}

#ccs-github p{
  text-align: center;
  padding-top: 20px;
}

#coe-twitter{
  grid-column: 1/3;
  grid-row: 2/3;
}

#coe-article {
  text-align: center;
  padding-top: 20px;
}
