@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,800');

/* UNIVERSAL STYLES */

header{
  text-align: center;
  width:100%;
  height: 350px;
  background-repeat: none;
  background-size: cover;
}

header h1{
  display: inline-block;
  position: relative;
  color: white;
  font-size: 4em;
  background: rgba(0,0,0,.2);
  padding: 20px;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h2{
  text-align: center;
  font-size: 2em;
  font-weight: 500;
}

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding:0;
}

p a{
  color:rgb(31, 91, 48);
}

p a:hover{
  color:rgb(73, 75, 79);
}

p a:active{
  color: black;
}

p a:visited{
  color: rgb(74, 54, 175);
}

iframe{
  border:0;
  width:480px;
  height:299px;
}
.wrapper{
  display: block;
  margin: 0 auto;
  width: 960px;
}

.caption{
  font-size: 14px;
  margin-left: 10px;
}

/* NAV */
nav {
  z-index: 1;
  list-style-type: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
  height: 60px;
}

nav ul{
  margin: 0;
}

nav ul li {
  float: left;
  list-style-type: none;
}

nav ul li a {
  display:inline-block;
  color: white;
  text-align: center;
  padding:20px;
  text-decoration: none;
}

nav li a:hover {
  background-color:rgb(73, 75, 79);
}

nav li a:active {
  background-color:rgb(73, 75, 79,0.5);
}

/* FOOTER */

footer {
  list-style-type: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
  height: 60px;
}

footer ul{
  margin:auto;
  width: 20%;

}

footer ul li {
  float: left;
  list-style-type: none;
  margin-left: 15px;
  margin-right: 15px;
}

footer ul li a {
  display:inline-block;
  color: white;
  text-align: center;
  padding:15px;
  text-decoration: none;
}

/* IMAGE SLIDER JS */

.slider-outer{
   height:100%;
   overflow:hidden;
}
.slider{
    width: 100%;
    height: 100%;
    border: 1px solid grey;
}
.slide-image{
  width: 100%;
  height: 100%;
  display:block;
  color: transparent;
  background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
}
.slider .slide-item{
  float:left;
  padding: 0;
  margin: 0;
}
.clear{
  clear:both;
}


/* INDEX */

#index main{
  width:100%;
  position: absolute;
  top:60px;right: 0; bottom: 0; left: 0;
  margin: 0 auto;
}

#asia{
  left: 30%;
  color: white;
  position:absolute;
  top: 250px;
  margin: 0 auto;
  text-decoration: none;
  font-size: 40px;
  border: 1px solid white;
  padding: 20px;
  background: rgba(0,0,0,.1);
}

#asia:hover{
  background: rgba(0,0,0,.5);
}

/* ABOUT */

#asia-headshot{
  border-radius: 50%;
  image-orientation: center;
  width: 400px;
  height: 450px;
}

#connect-caption{
  grid-column: 1/2;
  grid-row: 1/2;
}

#bio{
  grid-row: 1/2;
  grid-column: 2/3;
}

#about-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 100px;
  grid-column-gap:80px;
  font-size: 18px;
}

#about header {
  background-image: url("../img/long-island-min.png");
  background-position: 50% 30%;
}

/* VIRGINIA TECH */

#vtech-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr,auto;
  grid-row-gap: 50px;
  padding-bottom: 100px;
  font-size: 18px;
}

#vtech header {
  background-image: url("../img/virginia-tech-min.png");
  background-position: 50% 20%;
}

#vtech #summary{
  grid-column: 1;
}

#abstract{
  grid-column: 1/3;
  border-top:1px solid grey;
  padding-top: 40px;
}

#vtech .slider-outer{
  margin-left: 50px;
}

#vtech .slide-image{
  background-position: 50% 30%;
}

#vtech iframe{
  float: right;
  padding:30px;
}

/* TWITTER */

#twitter header{
  background-image: url("../img/san-francisco-min.jpg");
  background-position: 50% 60%;
}

#twitter-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 70px;
  padding-bottom: 100px;
  margin-top: 50px;
  border-top: 1px solid grey;
  font-size: 18px;
}

#twitter #summary{
  font-size: 18px;
  grid-column: 1/3;
}


#code2040-careerfair{
  grid-column:2/3;
  grid-row: 2/3;
  width: 400px;
  height: auto;
}

#code2040-summary{
  grid-column: 1/2;
  grid-row: 2/3;
  width: 80%;
}

#intern-group-pic{
  grid-column:1/2;
  grid-row: 3/4;
  width: 400px;
  height: auto;
}

#twitter-proj{
  grid-column: 2/3;
  grid-row: 3/4;
  width: 80%;
}

#twitter-summary{
  grid-column: 1/2;
  grid-row: 4/5;
  width: 80%;
}

#twitter-girls{
  grid-column:2/3;
  grid-row: 4/5;
  width: 400px;
  height: auto;
  }

  /* UMIAMI */
  #umiami header {
    background-image: url("../img/umiami.jpg");
    background-position: 50% 50%;
  }

  #umiami h3{
    text-align: center;
    font-weight: 500;
    font-size: 20px;
  }

  #umiami-summary{
    font-size: 18px;
  }

  #umiami-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-row-gap: 40px;
    grid-column-gap: 70px;
    padding-bottom: 100px;
    margin-top: 50px;
    border-top: 1px solid grey;
    font-size: 18px;
  }

#umiami iframe{
  margin-top: 70px;
}

#ccs-github{
  grid-column: 2/3;
  grid-row: 1/2;
}

#ccs-github p{
  text-align: center;
  padding-top: 20px;
}

#coe-twitter{
  grid-column: 1/3;
  grid-row: 2/3;
}

#coe-article {
  text-align: center;
  padding-top: 20px;
}
